<div class="bg-slider-wrapper">
    <div id="bg-slider" class="flexslider bg-slider">
        <ul class="slides">
            <li class="slide slide-1"></li>
            <li class="slide slide-2"></li>
            <li class="slide slide-3"></li>
        </ul>
    </div>
</div><!--//bg-slider-wrapper--> 
<section id="home-promo" class="home-promo section">
    <div class="container text-center">                
        <h2 class="title">
            <span class="upper">We build</span>
            <span class="middle">Web and Mobile Apps</span>
            <span class="bottom">for startups and agencies</span>
        </h2>
        <button class="btn btn-cta btn-cta-primary" type="button" data-toggle="modal" data-target="#modal-contact" data-backdrop="static">Talk to us</button>
    </div><!--//container-->
</section><!--//promo-->