<section class="section-404 section">
     <div class="container text-center">
         <h2 class="title-404 text-center">404</h2>
         <p class="intro text-center">Oops! Something went wrong. <br>The requested page or file may have been moved or deleted.</p>
         <div class="center-block">
             <%= link_to "Back to Home", root_path, class: "btn btn-cta btn-cta-secondary"%>
         </div>
     </div><!--//container-->
 </section>