<%= form_for @project do |f| %>
    <% if @project.errors.any? %>
    <h2><%= pluralize(@project.errors.count, "error") %> prevented this project from saving</h2>
    <% end %>
    <ul>
        <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
    
    <%= f.file_field :image %>
    <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.label :category %><br>
        <%= f.text_field :category, placeholder: "example: SAAS / STARTUP" %>
    </div>
    
    <strong>Tags:</strong>
        <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |cb| %>
        <%= cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
        <% end %>
        <br><br>
    
    <div class="form-group">
        <%= f.label :client %><br>
        <%= f.text_field :client, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.label :work_done %><br>
        <%= f.text_area :work_done, class: "form-control" %>
    </div>
    
  
    <div class="form-group">
        <%= f.label :link %><br>
        <%= f.text_field :link, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.label :challenge %><br>
        <%= f.text_area :challenge, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.label :project_goals %><br>
        <%= f.text_area :project_goals, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.label :solution %><br>
        <%= f.text_area :solution, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.label :results %><br>
        <%= f.text_area :results, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.label :client_testimonial %><br>
        <%= f.text_area :client_testimonial, class: "form-control" %>
    </div>
    
    <%= f.submit "Create project", class: "btn btn-primary" %>
    
<% end %>