<% @title = "Projects" %>
<section id="work-list" class="section work-list">
        <div class="container text-center">
            <h2 class="title">Case Studies</h2>
            <div id="filters" class="button-group clearfix">
                    <button class="btn button is-checked" data-filter="*">All</button>
                    <button class="btn button" data-filter=".saas">SaaS</button>
                    <button class="btn button" data-filter=".mobile-app">Mobile app</button>
                    <button class="btn button" data-filter=".website">Website</button>
                    <button class="btn button" data-filter=".startup">Startup</button>
                    <button class="btn button last" data-filter=".agency">Agency</button>
                </div><!--//filters-->
            <div class="items-wrapper isotope row" style="position: relative; height: 1564px;">
                <div class="item startup saas col-lg-4 col-md-4 col-sm-6 col-sm-12 " style="position: absolute; left: 0px; top: 0px;">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-1.jpg" alt=""></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary">View case study</span>
                            </a><!--//info-mask-->
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Velocity web application</a></h3>
                            <div class="meta">Startup / SaaS</div>
                        </div><!--//content-->                    
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item startup mobile-app col-lg-4 col-md-4 col-sm-6 col-sm-12 " style="position: absolute; left: 390px; top: 0px;">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-2.jpg" alt=""></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary">View case study</span>
                            </a><!--//info-mask-->
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Delta app development</a></h3>
                            <div class="meta">Startup / Mobile app</div>
                        </div><!--//content-->                    
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item startup website col-lg-4 col-md-4 col-sm-6 col-sm-12 " style="position: absolute; left: 780px; top: 0px;">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-3.jpg" alt=""></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary">View case study</span>
                            </a><!--//info-mask-->
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Tempo</a></h3>
                            <div class="meta">Startup / Website </div>
                        </div><!--//content-->                    
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item agency website col-lg-4 col-md-4 col-sm-6 col-sm-12 " style="position: absolute; left: 0px; top: 391px;">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-4.jpg" alt=""></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary">View case study</span>
                            </a><!--//info-mask-->
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Duis egestas</a></h3>
                            <div class="meta">Agency / Website</div>
                        </div><!--//content-->                    
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item agency website col-lg-4 col-md-4 col-sm-6 col-sm-12 " style="position: absolute; left: 390px; top: 391px;">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-5.jpg" alt=""></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary">View case study</span>
                            </a><!--//info-mask-->
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Quisque vel nulla</a></h3>
                            <div class="meta">Agency / Website</div>
                        </div><!--//content-->                    
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item startup mobile-app col-lg-4 col-md-4 col-sm-6 col-sm-12 " style="position: absolute; left: 780px; top: 391px;">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-6.jpg" alt=""></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary">View case study</span>
                            </a><!--//info-mask-->
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Fusce felis elit</a></h3>
                            <div class="meta">Startup / Mobile app</div>
                        </div><!--//content-->                    
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item startup saas col-lg-4 col-md-4 col-sm-6 col-sm-12 " style="position: absolute; left: 0px; top: 782px;">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-7.jpg" alt=""></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary">View case study</span>
                            </a><!--//info-mask-->
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Quisque rutrum</a></h3>
                            <div class="meta">Startup / SaaS</div>
                        </div><!--//content-->                    
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item startup mobile-app website col-lg-4 col-md-4 col-sm-6 col-sm-12 " style="position: absolute; left: 390px; top: 782px;">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-8.jpg" alt=""></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary">View case study</span>
                            </a><!--//info-mask-->
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Quisque rutrum</a></h3>
                            <div class="meta">Startup / Mobile app / Website</div>
                        </div><!--//content-->                    
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item startup mobile-app saas col-lg-4 col-md-4 col-sm-6 col-sm-12 " style="position: absolute; left: 780px; top: 782px;">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-9.jpg" alt=""></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary">View case study</span>
                            </a><!--//info-mask-->
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Nullam Quis</a></h3>
                            <div class="meta">Startup / Mobile app / SaaS</div>
                        </div><!--//content-->                    
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item startup saas col-lg-4 col-md-4 col-sm-6 col-sm-12 " style="position: absolute; left: 0px; top: 1173px;">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-10.jpg" alt=""></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary">View case study</span>
                            </a><!--//info-mask-->
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Nullam Quis</a></h3>
                            <div class="meta">Startup / SaaS</div>
                        </div><!--//content-->                    
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item startup website mobile-app col-lg-4 col-md-4 col-sm-6 col-sm-12 " style="position: absolute; left: 390px; top: 1173px;">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-11.jpg" alt=""></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary">View case study</span>
                            </a><!--//info-mask-->
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Nullam Quis</a></h3>
                            <div class="meta">Startup / Website / Mobile app</div>
                        </div><!--//content-->                    
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item startup saas website col-lg-4 col-md-4 col-sm-6 col-sm-12 " style="position: absolute; left: 780px; top: 1173px;">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-12.jpg" alt=""></a>
                            <a class="info-mask" href="case-study-1.html">
                                <span class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</span>
                                <span class="btn btn-cta btn-cta-primary">View case study</span>
                            </a><!--//info-mask-->
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="case-study-1.html">Nullam Quis</a></h3>
                            <div class="meta">Startup / Website / SaaS </div>
                        </div><!--//content-->                    
                    </div><!--//item-inner-->
                </div><!--//item-->             
            </div><!--//items-wrapper-->
        </div><!--//container-fluid-->
    </section>
    
<section id="services" class="services section">
        <div class="container text-center">
            <h2 class="title">Services</h2>
            <p class="intro">We offer lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            <div class="service-items row">
                <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner" style="height: 441px;">
                        <div class="header-box">
                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                        </div><!--//header-->
                        <div class="desc">
                            <h3 class="sub-title">UX &amp; Front-end</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae diam magna. Curabitur nibh metus, ultricies sed aliquam euismod, scelerisque eu purus. In hac habitasse platea dictumst. Suspendisse tempus elit eget libero suscipit pulvinar.</p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner" style="height: 441px;">
                        <div class="header-box">
                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                        </div><!--//header-->
                        <div class="desc">
                            <h3 class="sub-title">Back-end &amp; Database</h3>
                            <p>Phasellus fermentum accumsan fermentum. Vestibulum elit sapien, consequat vitae auctor sit amet, elementum sed elit. Quisque ullamcorper quis augue sit amet porttitor. Maecenas ac dolor iaculis, dapibus.</p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner" style="height: 441px;">
                        <div class="header-box">
                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                        </div><!--//header-->
                        <div class="desc">
                            <h3 class="sub-title">Hosting</h3>
                            <p>Cras mollis ex sed tortor finibus, a mattis risus rhoncus. Sed sodales et metus at sodales. Ut non dolor sollicitudin, venenatis mauris eget, fringilla enim. Pellentesque sed magna ante. Cras mollis tincidunt lectus vitae suscipit.</p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner" style="height: 441px;">
                        <div class="header-box">
                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                        </div><!--//header-->
                        <div class="desc">
                            <h3 class="sub-title">Support</h3>
                            <p>Aliquam efficitur, lorem blandit dapibus viverra, erat turpis placerat lacus, quis hendrerit libero sem eget dui. Integer eu diam orci. Nullam sed dictum lorem. Quisque ut lacus non enim aliquam pretium sit amet id augue.</p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//row-->   
            <a class="btn btn-cta btn-cta-primary" href="contact.html">Get a quote</a>         
        </div><!--//container-->
    </section>
    
<section id="cta-section" class="cta-section section text-center home-cta-section">
        <div class="container">
           <h2 class="title">Want to have a quick chat?</h2>
           <p class="phone contact-info">
               <span class="intro">We are only a phone call away</span>
               <span class="info"><a href="tel:+08001234567">0800 123 4567</a></span>
           </p><!--//phone-->
           <p class="email contact-info">
               <span class="intro">You can also email us</span>
               <span class="info"><a href="mailto:hello@yourdevstudio.com">hello@yourdevstudio.com</a></span>
           </p><!--//phone-->              
        </div><!--//container-->
    </section>

