<article class="case-study-article article">
        <div class="container">
            <h1 class="project-title text-center"><%= @project.title %></h1>
            <h2 class="project-type text-center"><%= @project.category %></h2>
            <div class="row">
                <div class="content-wrapper col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0"> 
                    <div class="content">
                        <section class="slideshow">
                            <div id="slider" class="flexslider">
                                
                            <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1800%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                    <li class="flex-active-slide" style="width: 943px; float: left; display: block;">
                                        <a href="http://wrapbootstrap.com/preview/WB0N38R04" target="_blank"><img class="img-responsive" src="assets/images/work/case-study-0.png" alt="" draggable="false"></a>
                                    </li>
                                    <li style="width: 943px; float: left; display: block;">
                                        <a href="http://wrapbootstrap.com/preview/WB0N38R04" target="_blank"><img class="img-responsive" src="assets/images/work/case-study-1.png" alt="" draggable="false"></a>
                                    </li>
                                    <li style="width: 943px; float: left; display: block;">
                                        <a href="http://wrapbootstrap.com/preview/WB0N38R04" target="_blank"><img class="img-responsive" src="assets/images/work/case-study-2.png" alt="" draggable="false"></a>
                                    </li>
                                    <li style="width: 943px; float: left; display: block;">
                                        <a href="http://wrapbootstrap.com/preview/WB0N38R04" target="_blank"><img class="img-responsive" src="assets/images/work/case-study-3.png" alt="" draggable="false"></a>
                                    </li>
                                    <li style="width: 943px; float: left; display: block;">
                                        <a href="http://wrapbootstrap.com/preview/WB0N38R04" target="_blank"><img class="img-responsive" src="assets/images/work/case-study-4.png" alt="" draggable="false"></a>
                                    </li>
                                    <li style="width: 943px; float: left; display: block;">
                                        <a href="http://wrapbootstrap.com/preview/WB0N38R04" target="_blank"><img class="img-responsive" src="assets/images/work/case-study-5.png" alt="" draggable="false"></a>
                                    </li>
                                    <li style="width: 943px; float: left; display: block;">
                                        <a href="http://wrapbootstrap.com/preview/WB0N38R04" target="_blank"><img class="img-responsive" src="assets/images/work/case-study-6.png" alt="" draggable="false"></a>
                                    </li>
                                    <li style="width: 943px; float: left; display: block;">
                                        <a href="http://wrapbootstrap.com/preview/WB0N38R04" target="_blank"><img class="img-responsive" src="assets/images/work/case-study-7.png" alt="" draggable="false"></a>
                                    </li>
                                    <li style="width: 943px; float: left; display: block;">
                                        <a href="http://wrapbootstrap.com/preview/WB0N38R04" target="_blank"><img class="img-responsive" src="assets/images/work/case-study-8.png" alt="" draggable="false"></a>
                                    </li>
                                </ul></div><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="#" tabindex="-1">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
                            <div id="carousel" class="flexslider">
                                
                            <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1800%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                    <li class="flex-active-slide" style="width: 180px; float: left; display: block;">
                                        <img src="assets/images/work/case-study-thumb-0.jpg" alt="" draggable="false">
                                    </li>
                                    <li style="width: 180px; float: left; display: block;">
                                        <img src="assets/images/work/case-study-thumb-1.jpg" alt="" draggable="false">
                                    </li>
                                    <li style="width: 180px; float: left; display: block;">
                                        <img src="assets/images/work/case-study-thumb-2.jpg" alt="" draggable="false">
                                    </li>
                                    <li style="width: 180px; float: left; display: block;">
                                        <img src="assets/images/work/case-study-thumb-3.jpg" alt="" draggable="false">
                                    </li>
                                    <li style="width: 180px; float: left; display: block;">
                                        <img src="assets/images/work/case-study-thumb-4.jpg" alt="" draggable="false">
                                    </li>
                                    <li style="width: 180px; float: left; display: block;">
                                        <img src="assets/images/work/case-study-thumb-5.jpg" alt="" draggable="false">
                                    </li>
                                    <li style="width: 180px; float: left; display: block;">
                                        <img src="assets/images/work/case-study-thumb-6.jpg" alt="" draggable="false">
                                    </li>
                                    <li style="width: 180px; float: left; display: block;">
                                        <img src="assets/images/work/case-study-thumb-7.jpg" alt="" draggable="false">
                                    </li>
                                    <li style="width: 180px; float: left; display: block;">
                                        <img src="assets/images/work/case-study-thumb-8.jpg" alt="" draggable="false">
                                    </li>
                                </ul></div><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="#" tabindex="-1">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
                        </section><!--//slideshow-->
                        <ul class="meta list-unstyled">
                            <li><strong>Client:</strong><%= @project.client %></li>
                            <li><strong>What we did:</strong><%= @project.work_done %></li>
                            <li><strong>Site link:</strong><%= link_to @project.link, target: "_blank" %></li>
                        </ul><!--//meta-->
                        <section class="content-section">
                            <h3 class="section-title">Challenge</h3>
                            <p><%= @project.challenge %></p>
                        </section><!--//content-section-->
                        <section class="content-section">
                            <h3 class="section-title">Project Goals</h3>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-arrow-circle-right"></i> Consectetur adipiscing elit</li>
                                <li><i class="fa fa-arrow-circle-right"></i> Integer eget lorem vitae</li>
                                <li><i class="fa fa-arrow-circle-right"></i> Lorem vitae elit</li>
                                <li><i class="fa fa-arrow-circle-right"></i> Suscipit suscipit</li>
                            </ul>
                        </section><!--//content-section-->
                        
                        <section class="content-section">
                            <h3 class="section-title">Our Solution</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in leo turpis. Ut ex neque, cursus vulputate facilisis sed, tempor quis ligula. Pellentesque sodales sagittis fringilla. Praesent id enim ut orci pretium faucibus a et massa. Sed quis velit imperdiet. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. </p>
                        </section><!--//content-section-->
                        <section class="content-section">
                            <h3 class="section-title">Results</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in leo turpis. Ut ex neque, cursus vulputate facilisis sed, tempor quis ligula. Pellentesque sodales sagittis fringilla. Praesent id enim ut orci pretium faucibus a et massa.</p>
                            <a class="btn btn-cta btn-cta-primary" href="contact.html">Get in touch</a>
                        </section><!--//content-section-->
                    </div><!--//content-->    
                    
                    <div class="testimonial-wrapper text-center">
                        <div class="testimonial-inner">
                            <div class="quote-container text-left">
                                <i class="fa fa-quote-left"></i> 
                                <blockquote class="quote">We had great experience working with Phasellus ut cursus tellus. Etiam ullamcorper varius diam, nec consequat dolor gravida non. Nullam commodo feugiat arcu, ut scelerisque nisl vulputate eget. Cras a euismod elit. Ut ex neque, cursus vulputate facilisis sed, tempor quis ligula. Pellentesque sodales sagittis fringilla.
                                    
                                </blockquote><!--//quote-->                              
                            </div><!--//quote-->
                            <div class="meta">
                                <div class="profile">
                                    <img class="img-circle" src="assets/images/client/client-profile-6.png" alt="">
                                    <p class="name">Christopher Hopkins<br>
                                    <span class="source-title">Product Manager</span>
                                    </p>
                                </div><!--//profile-->
                            </div><!--//meta-->     
                        </div><!--//testimonial-inner-->   
                    </div><!--//testimonail-->                                            
                </div><!--//content-wrapper-->              
            </div><!--//row-->            
        </div><!--//container-->
    </article>