<div class="container">
    <div class="row">
    <div class="well col-md-8 col-md-offset-2">
        <%= form_for @tag do |f| %>
        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
        </div>
        <br>
        
        <%= f.submit "Create tag", class: "btn btn-success" %>
        <% end %>
    </div>
    </div>
</div>
