<%= form_for(@post, html: { multipart: true }) do |f| %>
    <%= f.file_field :image %>
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category" }, input_html: { class: "dropdown-toggle" } %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control" %>
    </div>
    
    <%= f.submit "Create Post", class: "btn btn-primary" %>
<% end %>

