<% @title = "blog" %>
<section id="blog-list" class="blog-list section">
        <div class="container">
            <% @posts.each do |post| %>
            <article class="item">
                <div class="row">
                    <h3 class="post-title col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0"><%= link_to post.title, post %></h3>
                    <div class="clearfix"></div>
                    <div class="meta col-md-2 col-sm-3 col-xs-12 text-right">
                        <ul class="meta-list list-unstyled">                                       
                        	<li class="post-time post_date date updated">
                        	    <span class="date"><%= post.created_at.strftime("%e")%></span>
                        	    <span class="month"><%= post.created_at.strftime("%b")%></span>
                            </li>
                        	<li class="post-author"><%= post.user.name %></li>
                    	</ul><!--//meta-list-->                           	
                    </div><!--//meta-list-->                    
                    <div class="content-wrapper col-md-10 col-sm-9 col-xs-12">
                        <figure class="figure">
                            <%= link_to post do %>
                                <%= image_tag post.image.url(:medium), class: "img-responsive" %>
                            <% end %>
                        </figure>
                        <div class="content">
                            <div class="desc">
                                <%= truncate(post.body, length: 269)%>
                                <%= link_to post do %>
                                  Read More <i class="fa fa-long-arrow-right"></i>
                                <% end %>
                                
                            </div><!--//desc-->
                        </div><!--//content-->
                    </div><!--//content-wrapper-->   
                </div><!--//row-->            
            </article><!--//item-->
            <% end %>
            
                 
                <div class="pagination-container text-center">
                    <ul class="pagination">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul><!--//pagination-->
                </div>       
            
        </div><!--//container-->
    </section>
