<div class="breadcrumbs container">
    <ul class="breadcrumbs-list list-inline">
        <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
        <li><a href="work.html">Blog Posts</a><i class="fa fa-angle-right"></i></li>
        <li class="current"><%= @post.title %></li>
    </ul>
</div>

<div class="blog-post-wrapper container">            
    <div class="row">
        <div class="blog-entry col-md-8 col-sm-8 col-xs-12">                 
            <article class="post">
                <h2 class="title"><%= @post.title %></h2>
                <div class="meta">
                    <ul class="meta-list list-inline">                                       
                    	<li class="post-time post_date date updated"><i class="fa fa-calendar"></i><%= @post.created_at.strftime("%d %b, %Y") %></li>
                    	<li class="post-author"><i class="fa fa-user"></i> <% @post.user.name %></li>
                	</ul><!--//meta-list-->                           	
                </div><!--meta-->
                <div class="content">
                    <p class="post-figure">
                        <%= image_tag @post.image.url(:medium), class:"img-responsive" %>
                    </p><!--//post-figure-->
                    <%= simple_format @post.body %>
                </div>
                
                <div class="clearfix"></div>
    			<div id="comment-area" class="comment-area">
    			    <div class="comment-container">        				    
    				    <%= render "disqus" %>
    			    </div><!--//comments-container-->
    			</div><!--//comment-area-->                                           
            </article><!--//post-->                                      
        </div><!--//blog-entry-->
        
        <aside id="blog-sidebar" class="blog-sidebar col-md-3 col-sm-4 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
            <section class="widget search">
                <h3 class="sr-only title">Search Blog</h3>
                <form class="search-blog-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search blog...">
                    </div>
                    <button type="submit" class="btn btn-cta btn-cta-secondary"><i class="fa fa-search"></i></button>
                </form>
            </section><!--//search-->
            <section class="widget recent-posts">
                <h3 class="title">Recent Posts</h3>
                <% @posts.each do |post| %>
                <ul class="list-unstyled">
                    <li>
                        <%= image_tag @post.image.url(:thumb), class:"thumb img-responsive" %>
                        <span class="post-info">
                            <%= link_to post.title, post, class: "post-title" %>
                            <span class="date"><%= post.created_at.strftime("%d %b %Y") %></span>
                        </span>
                    </li>
                </ul>
                <% end %>
            </section><!--//widget-->
            <section class="widget categories">
                <h3 class="title">Categories</h3>
                <% Category.all.each do |category| %>
                <ul class="list-unstyled">
                    <li><%= link_to category.name, posts_path(category: category.name)%></li>
                </ul>
                <% end %>
            </section><!--//widget-->               
            <section class="widget archives">
                <h3 class="title">Archives</h3>
                <ul class="list-unstyled">
                    <li><a href="#">2015 </a><span class="count">(2)</span></li>
                    <li><a href="#">2014 </a><span class="count">(12)</span></li>
                    <li><a href="#">2013 </a><span class="count">(6)</span></li>
                </ul>
            </section><!--//widget-->
            <section class="widget instagram">
                <h3 class="title">Find us on Instagram</h3>
                <div id="instafeed" class="instafeed"><a class="item" href="https://instagram.com/p/6AyBYpxUq5/"><img class="img-responsive" src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s150x150/e35/11374066_422620651258250_482560167_n.jpg"></a><a class="item" href="https://instagram.com/p/5uJvFORUub/"><img class="img-responsive" src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s150x150/e35/11335854_483603778465746_850466119_n.jpg"></a><a class="item" href="https://instagram.com/p/5hZ0phRUlF/"><img class="img-responsive" src="https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/s150x150/e35/10467849_1023922097619079_1508479809_n.jpg"></a><a class="item" href="https://instagram.com/p/5ZIko9xUoC/"><img class="img-responsive" src="https://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-15/s150x150/e35/924704_1455503141419279_887192939_n.jpg"></a><a class="item" href="https://instagram.com/p/5RpyHpxUsg/"><img class="img-responsive" src="https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/s150x150/e35/10175314_1453651198274455_829794347_n.jpg"></a><a class="item" href="https://instagram.com/p/5Jp8JvxUl7/"><img class="img-responsive" src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s150x150/e35/11243942_416369071902829_1231659677_n.jpg"></a><a class="item" href="https://instagram.com/p/49XBFOxUkN/"><img class="img-responsive" src="https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-15/s150x150/e35/1388913_1649571021955011_616973894_n.jpg"></a><a class="item" href="https://instagram.com/p/46CEHOxUjR/"><img class="img-responsive" src="https://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-15/s150x150/e35/10817629_1664841080396041_863195333_n.jpg"></a><a class="item" href="https://instagram.com/p/449gi2xUiT/"><img class="img-responsive" src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s150x150/e35/11379698_400221733503045_605552168_n.jpg"></a><a class="item" href="https://instagram.com/p/4XhYUuxUrW/"><img class="img-responsive" src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s150x150/e15/11379089_1463737107274993_281785143_n.jpg"></a><a class="item" href="https://instagram.com/p/4XhB1sRUq1/"><img class="img-responsive" src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s150x150/e15/11376489_1613818325568233_578887802_n.jpg"></a><a class="item" href="https://instagram.com/p/4WMsJzxUi-/"><img class="img-responsive" src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s150x150/e15/11249273_831551933595324_2068242299_n.jpg"></a></div>
            </section><!--//widget-->
            
        </aside><!--//blog-side-bar-->               
    </div><!--//row-->
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'trendprowebsite';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>