body {
  font-family: 'Merriweather Sans', arial, sans-serif;
  color: #666666;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 16px;
  line-height: 1.5;
}
a {
  color: #ec0002;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #d30002;
}
a:focus {
  text-decoration: none;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  color: #fff;
  margin-right: 5px;
}
.btn:focus,
a.btn:focus {
  color: #fff;
}
a.btn-cta,
.btn-cta {
  padding: 8px 30px;
}
a.btn-cta-primary,
.btn-cta-primary {  
  background: none;
  border: 1px solid #b90002;
  color: #000;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {  
  background: #ec0002;
  border: 1px solid #b90002;
  color: #fff;
}
a.btn-cta-secondary,
.btn-cta-secondary {
  background: none;
  border: 1px solid #b90002;
  color: #000;
}
a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
  background: #ec0002;
  border: none;
  color: #000;
}
.highlight {
  color: #b30000;
}
.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 40px;
  border-color: #eeeeee;
}
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a6a6a6;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a6a6a6;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a6a6a6;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a6a6a6;
}
.form-control:focus {
  border-color: #e1e1e1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.text-highlight {
  color: #b30000;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
select {
  appearance: none;
  /* for mobile safari */
  -webkit-appearance: none;
}
#topcontrol {
  background: #191919;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  z-index: 30;
}
#topcontrol:hover {
  background: #72829b;
}
#topcontrol .fa {
  position: relative;
  top: 3px;
  font-size: 25px;
}
.video-container iframe {
  max-width: 100%;
}
/* ======= Homepage Headline Background & Slideshow ======= */
.bg-slider-wrapper {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 650px;
  background: #595959;
}
.bg-slider-wrapper .flexslider {
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.bg-slider-wrapper .flexslider .slide {
  display: block;
  height: 650px;
}
.bg-slider-wrapper .flexslider .slide.slide-1 {
  background: #191919 url(<%= asset_path('background/promo-background-1.jpg') %>) no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-slider-wrapper .flexslider .slide.slide-2 {
  background: #191919 url(<%= asset_path('background/promo-background-2.jpg') %>) no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-slider-wrapper .flexslider .slide.slide-3 {
  background: #191919 url(<%= asset_path('background/promo-background-3.jpg') %>) no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-slider-wrapper .flexslider .flex-control-nav {
  z-index: 20;
  bottom: 45px;
  position: relative;
}
.bg-slider-wrapper .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.3);
}
.bg-slider-wrapper .flexslider .flex-control-nav li a.flex-active {
  background: rgba(255, 255, 255, 0.8);
}
/* ======= Header ======= */
body.no-header-wrapper {
  padding-top: 80px;
}
.header-wrapper-home {
  min-height: 650px;
}
.header-wrapper-work {
  background: #191919 url(<%= asset_path('background/heading-background-1.jpg') %>) no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}
.header-wrapper-case-study {
  background: #191919 url(<%= asset_path('background/case-study-background-1.jpg') %>) no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}
.header-wrapper-about {
  background: #191919 url(<%= asset_path('background/heading-background-2.jpg') %>) no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}
.header-wrapper-blog-home {
  background: #191919 url(<%= asset_path('background/heading-background-3.jpg') %>) no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}
.header-wrapper-contact {
  background: #191919 url(<%= asset_path('background/heading-background-4.jpg') %>) no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}
.header {
  color: #fff;
  width: 100%;
  z-index: 40;
  padding: 15px inherit;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: padding 0.6s ease-in-out;
  -moz-transition: padding 0.6s ease-in-out;
  -ms-transition: padding 0.6s ease-in-out;
  -o-transition: padding 0.6s ease-in-out;
}
.header.navbar-fixed-top .navbar-collapse {
  padding-left: 15px;
  padding-right: 15px;
}
.header.header-shrink {
  padding: 0px inherit;
}
.header.header-shrink h1.logo {
  font-size: 20px;
  line-height: 2.4;
}
.header.header-shrink .main-nav .nav .nav-item {
  font-size: 12px;
}
.header h1.logo {
  font-family: "Russo One", arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 800;
  font-size: 26px;
  float: left;
  line-height: 1.8;
}
.header h1.logo a {
  color: #fff;
}
.header h1.logo a:hover {
  text-decoration: none;
}
.header h1.logo a .highlight {
  color: #b30000;
}
.header .main-nav .navbar-toggle {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  right: 10px;
  top: 5px;
}
.header .main-nav .navbar-toggle:focus {
  outline: none;
}
.header .main-nav .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.6);
  height: 3px;
}
.header .main-nav .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 15px;
}
.header .main-nav .nav .nav-item.active > a {
  color: #d30002;
  background: none;
  font-weight: bold;
}
.header .main-nav .nav .nav-item a {
  color: #fff;
}
.header .main-nav .nav .nav-item a:hover {
  color: #d30002;
  background: none;
}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #d30002;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}
.header .main-nav .nav.active {
  position: relative;
}
.header .main-nav .nav.active > a {
  background: #47b3d7;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.header .main-nav .nav.active > a:before {
  content: "\f0d8";
  position: absolute;
  bottom: -8px;
  left: 0;
  text-align: center;
  font-family: FontAwesome;
  display: block;
  font-size: 12px;
  width: 100%;
}
.header .main-nav .nav.active > a.dropdown-toggle:before {
  display: none;
}
.header .main-nav .nav.open a {
  background: none;
}
.header .main-nav .nav .dropdown-menu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  border: none;
  text-transform: none;
  min-width: 180px;
  background: #47b3d7;
}
.header .main-nav .nav .dropdown-menu:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #47b3d7;
  position: absolute;
  right: 30px;
  top: -10px;
}
.header .main-nav .nav .dropdown-menu a {
  border-bottom: 1px solid #32aad2;
  padding: 8px 20px;
  color: #fff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.header .main-nav .nav .dropdown-menu a:hover {
  background: #2a9bc1;
  color: #fff;
}
/* Override bootstrap default */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: none;
}
/* ======= Promo section ======= */
.promo {
  color: #fff;
  padding-top: 160px;
}
.promo .title {
  font-size: 36px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  margin-top: 0;
  text-transform: uppercase;
}
.promo .intro {
  max-width: 700px;
  margin: 0 auto;
  font-size: 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
/* ======= Home Promo section ======= */
.home-promo {
  color: #fff;
  padding-top: 160px;
  position: relative;
  z-index: 10;
}
.home-promo .title {
  font-size: 26px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 45px;
  text-transform: uppercase;
}
.home-promo .title span {
  display: block;
}
.home-promo .title .middle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 56px;
  color: #d30002;
}
.home-promo .title .bottom {
  font-family: 'Merriweather Sans', arial, sans-serif;
  font-style: italic;
  text-transform: lowercase;
  font-weight: 500;
}
.home-promo .btn {
  font-size: 20px;
  font-weight: normal;
}
/* ======= Who ======= */
.who {
  padding: 80px 0;
}
.who .title {
  font-size: 36px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
}
.who .intro {
  margin: 0 auto;
  max-width: 700px;
  color: #666;
  font-size: 20px;
  color: #191919;
  margin-bottom: 60px;
  font-weight: 300;
}
.who .benefits .item {
  font-size: 16px;
  margin-bottom: 60px;
}
.who .benefits .item .fs1 {
  font-size: 36px;
  color: #191919;
}
.who .benefits .item-inner {
  padding: 30px;
  padding-top: 45px;
  background: #f8f9fa;
}
.who .benefits .sub-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  color: #000000;
}
.who .benefits .desc {
  color: #191919;
}
/* ======= Latest work ======= */
.latest-work {
  padding: 80px 0;
}
.latest-work .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.latest-work .title {
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 60px;
}
.latest-work .owl-wrapper {
  background: #191919;
}
.latest-work .item {
  background: #191919;
  color: #fff;
  min-height: 420px;
  text-align: center;
}
.latest-work .item .figure {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.latest-work .item .figure img {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  margin: 0 auto;
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
}
.latest-work .item .figure:hover img {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.latest-work .item .figure-container a {
  display: block;
  min-height: 260px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.latest-work .item .figure-container a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.latest-work .item.item-1 .figure-container a {
  background: #191919 url(<%= asset_path('work/work-example-1.1.jpg') %>) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.latest-work .item.item-2 .figure-container a {
  display: block;
  background: #191919 url(<%= asset_path('work/work-example-2.1.jpg') %>) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.latest-work .item.item-3 .figure-container a {
  display: block;
  background: #191919 url(<%= asset_path('work/work-example-3.1.jpg') %>) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.latest-work .item .content .content-inner {
  padding: 45px;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}
.latest-work .item .content .project-title {
  font-family: 'Open Sans', arial, sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  color: #fff;
}
.latest-work .item .content .meta {
  margin-bottom: 15px;
  font-weight: 300;
}
.latest-work .item .content .meta strong {
  color: #fff;
}
.latest-work .item .content .desc {
  margin-bottom: 30px;
}
.latest-work .item .content .link {
  margin-bottom: 5px;
}
.latest-work .item .content .link a {
  color: #909cb0;
}
.latest-work .item .content .link a:hover {
  color: #d30002;
}
.latest-work .item .content .link .fa {
  color: #909cb0;
  margin-right: 5px;
}
/* override owl theme */
.owl-theme .owl-controls {
  margin-top: 30px;
  margin-bottom: 30px;
}
.owl-theme .owl-controls .owl-page span {
  background: #191919;
}
.owl-theme .owl-controls .owl-buttons div {
  background: #191919;
}
.owl-theme .owl-controls .owl-buttons div:hover {
  background: #818fa5;
}
/* ======= Testimonials ======= */
.testimonials {
  padding: 80px 0;
}
.testimonials .title {
  font-size: 36px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
}
.testimonials .intro {
  max-width: 700px;
  color: #191919;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 20px;
}
.testimonials .item {
  margin-bottom: 60px;
}
.testimonials .item .item-inner {
  padding: 30px;
}
.testimonials .item .quote-container {
  position: relative;
  margin-bottom: 30px;
}
.testimonials .item .quote-container .fa {
  color: #cbd1da;
  position: absolute;
  left: -35px;
  top: 0;
  font-size: 22px;
}
.testimonials .item .quote-container .quote {
  padding: 0;
  border-left: 0;
  font-style: italic;
  margin-bottom: 0;
}
.testimonials .item .meta .profile {
  overflow: hidden;
  float: left;
}
.testimonials .item .meta .profile img {
  float: left;
  margin-right: 15px;
}
.testimonials .item .meta .profile .name {
  font-size: 14px;
  float: left;
  margin-top: 25px;
  max-width: 200px;
  color: #191919;
}
.testimonials .item .meta .profile .name .source-title {
  color: #999999;
}
.testimonials .item .meta .client-logo {
  float: right;
  max-width: 160px;
}
/* ======= logos ======= */
.logos {
  padding-bottom: 80px;
}
.logos .title {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #000000;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 700;
}
.logos .intro {
  color: #191919;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 60px;
}
.logos .logo-list img {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.logos .logo-list img:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/* ======= cta-section ======= */
.cta-section {
  background: #191919 url(<%= asset_path('background/cta-background.jpg') %>) no-repeat left top;
  background-size: cover;
  min-height: 420px;
  color: #fff;
  padding-top: 80px;
}
.cta-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.cta-section .contact-info {
  font-size: 24px;
}
.cta-section .contact-info span {
  display: block;
  margin-bottom: 15px;
}
.cta-section .contact-info .intro {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  font-weight: 300;
}
.cta-section .contact-info .info {
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
}
.cta-section .contact-info a {
  color: #b30000;
}
.cta-section .contact-info a:hover {
  color: #a00001;
}
/* ======= Latest blog posts ======= */
.latest-blog {
  padding: 80px 0;
  background: #f5f5f5;
}
.latest-blog .title {
  font-size: 36px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  color: #000000;
  margin-top: 0;
  margin-bottom: 80px;
}
.latest-blog .item {
  margin-bottom: 60px;
}
.latest-blog .item-inner {
  background-color: #fff;
}
.latest-blog .item-inner .figure {
  background-color: #191919;
  overflow: hidden;
  text-align: center;
}
.latest-blog .item-inner .figure img {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  margin: 0 auto;
  display: inline-block;
}
.latest-blog .item-inner .figure img:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.latest-blog .item-inner .sub-title {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 22px;
}
.latest-blog .item-inner .sub-title a {
  color: #191919;
}
.latest-blog .item-inner .sub-title a:hover {
  color: #d30002;
}
.latest-blog .item-inner .content-wrapper {
  padding: 30px;
}
/* ======= Work-list section ======= */
.work-list {
  padding: 80px 0;
  background: #f5f5f5;
}
.work-list .title {
  font-size: 28px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
}
.work-list .button-group {
  margin-bottom: 60px;
  font-size: 13px;
  clear: both;
}
.work-list .button-group .btn {
  background: #191919;
  color: #fff;
  font-weight: 300;
  margin-right: 5px;
  margin-bottom: 15px;
}
.work-list .button-group .btn.last {
  margin-right: 0;
}
.work-list .button-group .btn:hover {
  background: #e60000;
}
.work-list .button-group .btn.is-checked {
  background: #e60000;
}
.work-list .item {
  margin-bottom: 60px;
}
.work-list .item .item-inner {
  background: #fff;
}
.work-list .item .sub-title a {
  color: #191919;
}
.work-list .item .sub-title a:hover {
  color: #d30002;
}
.work-list .item .figure {
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.work-list .item .figure img {
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
}
.work-list .item .figure .info-mask {
  text-decoration: none;
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  padding: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(48, 56, 67, 0.9);
}
.work-list .item .figure .info-mask span {
  display: block;
  margin-bottom: 15px;
  color: #fff;
}
.work-list .item .figure .info-mask span.btn {
  display: inline-block;
}
.work-list .item .figure .info-mask span.btn:hover {
  background: #ec0002;
}
.work-list .item .figure:hover .info-mask {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.work-list .item .figure:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.work-list .item .content {
  padding: 30px;
}
.work-list .item .content .sub-title {
  font-size: 16px;
  margin: 0;
  margin-bottom: 15px;
}
.work-list .item .content .meta {
  font-size: 14px;
  color: #999999;
}
/* ======= Case Study ======= */
.breadcrumbs {
  margin-top: 15px;
  font-size: 13px;
  color: #c6c6c6;
}
.breadcrumbs a {
  color: #c6c6c6;
}
.breadcrumbs a:hover {
  color: #d30002;
}
.breadcrumbs .breadcrumbs-list li {
  padding-right: 0;
}
.breadcrumbs .fa {
  margin-left: 5px;
  display: inline-block;
}
.case-study-article {
  padding: 80px 0;
}
.case-study-article .project-title {
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  margin-bottom: 30px;
  color: #000000;
}
.case-study-article .project-type {
  color: #191919;
  margin-bottom: 60px;
  margin-top: 0;
  font-size: 22px;
  font-weight: 300;
}
.case-study-article .project-type .dot {
  font-size: 48px;
  position: relative;
  top: 8px;
}
.case-study-article .content-wrapper .meta {
  margin-bottom: 30px;
}
.case-study-article .content-wrapper .content-section {
  margin-bottom: 30px;
}
.case-study-article .content-wrapper .section-title {
  color: #191919;
  font-size: 20px;
  font-weight: bold;
}
.case-study-article .media-wrapper img {
  background: #252b35;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  border: 1px solid #eeeeee;
}
.case-study-article .media-wrapper img:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.case-study-article .media-wrapper .featured {
  margin-bottom: 30px;
}
.case-study-article .media-wrapper .thumbs .item {
  margin-bottom: 15px;
}
.case-study-article .testimonial-wrapper {
  margin-top: 90px;
  padding: 60px 30px;
}
.case-study-article .testimonial-wrapper .testimonial-inner {
  max-width: 700px;
  margin: 0 auto;
}
.case-study-article .testimonial-wrapper .quote-container {
  position: relative;
  margin-bottom: 30px;
  color: #191919;
  background: #f8f9fa;
  padding: 30px;
}
.case-study-article .testimonial-wrapper .quote-container .fa {
  color: #a5afbf;
  font-size: 22px;
}
.case-study-article .testimonial-wrapper .quote-container .quote {
  padding: 0;
  border-left: 0;
  padding-left: 30px;
  font-style: italic;
  margin-bottom: 30px;
}
.case-study-article .testimonial-wrapper .quote-container:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #f8f9fa;
  position: absolute;
  bottom: -15px;
  margin-left: -15px;
  left: 50%;
}
.case-study-article .testimonial-wrapper .meta {
  padding: 30px;
}
.case-study-article .testimonial-wrapper .meta .profile {
  overflow: hidden;
}
.case-study-article .testimonial-wrapper .meta .profile .name {
  margin-top: 25px;
}
.case-study-article .testimonial-wrapper .meta .profile .name .source-title {
  color: #999999;
}
.flexslider {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
}
.flexslider#carousel img {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: pointer;
}
.flexslider#carousel img:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.flexslider#carousel .slides > li {
  margin-right: 5px;
}
.flexslider#carousel .slides > li.flex-active-slide img {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  cursor: default;
}
.flexslider .flex-direction-nav a {
  color: #f5f5f5;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #333;
  text-align: center;
  width: 32px;
  height: 32px;
}
.flexslider .flex-direction-nav a:before {
  font-size: 18px;
  text-shadow: none;
  margin-bottom: 30px;
  padding-top: 8px;
}
.flexslider .flex-direction-nav a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/* ======= Services section ======= */
.services {
  padding: 80px 0;
}
.services .title {
  font-size: 28px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
}
.services .intro {
  font-size: 20px;
  font-weight: 300;
  color: #191919;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.services .item {
  margin-bottom: 30px;
}
.services .item-inner {
  background: #f8f9fa;
}
.services .item-inner .header-box {
  padding: 15px 30px;
  background: #909cb0;
  color: #fff;
}
.services .item-inner .header-box .fs1 {
  color: #fff;
  font-size: 28px;
  padding-top: 10px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 56px;
  height: 56px;
  border: 1px solid #fff;
}
.services .item-inner .sub-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  color: #000000;
}
.services .item-inner .desc {
  padding: 30px 15px;
  color: #191919;
}
.services .btn-cta {
  font-size: 16px;
  margin-top: 30px;
}
/* ======= About Us ======= */
.team {
  padding: 80px 0;
}
.team .title {
  font-size: 36px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  color: #000000;
  margin-top: 0;
  margin-bottom: 15px;
}
.team .intro {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-weight: 300;
  color: #191919;
  font-size: 20px;
}
.team .item {
  margin-bottom: 30px;
}
.team .item .item-inner {
  background: #fff;
  background: #f5f5f5;
  background: #f8f9fa;
  padding: 30px;
  padding-bottom: 60px;
  overflow: hidden;
  position: relative;
}
.team .item .figure {
  margin-bottom: 30px;
}
.team .item .info {
  margin-bottom: 30px;
}
.team .item .info .name {
  margin-top: 0;
  color: #000000;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}
.team .item .info .role {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 15px;
  font-style: italic;
  color: #191919;
}
.team .item .social {
  padding-top: 15px;
  width: 100%;
  margin-left: -30px;
  position: absolute;
  bottom: 30px;
}
.team .item .social .social-list {
  margin: 0 auto;
  margin-bottom: 0;
  width: 100%;
}
.team .item .social .social-list li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #bcc4d0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-top: 8px;
}
.team .item .social .social-list li a:hover {
  background: #191919;
}
.team .item .social .social-list li .fa {
  font-size: 18px;
  color: #fff;
}
.join-us {
  padding: 80px 0;
  background: #f5f5f5;
}
.join-us .title {
  font-size: 36px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
}
.join-us .intro {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
  color: #191919;
  font-weight: 300;
  font-size: 20px;
}
.join-us .info {
  margin-bottom: 30px;
}
.join-us .partner {
  margin-bottom: 30px;
}
.join-us .partner .sub-title {
  margin-top: 0;
  margin-bottom: 15px;
  color: #000000;
}
.photos {
  padding: 80px 0;
}
.photos .title {
  font-size: 36px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  color: #000000;
  margin-top: 0;
  margin-bottom: 15px;
}
.photos .intro {
  font-size: 18px;
  color: #191919;
  font-size: 20px;
  margin-bottom: 60px;
  font-weight: 300;
}
.photos #instafeed {
  margin: 0 auto;
  display: inline-block;
}
.photos #instafeed .item {
  text-align: center;
  padding: 5px;
  background: #fff;
}
.photos #instafeed .item img {
  display: block;
  -webkit-transition: transform 0.4s linear;
  -moz-transition: transform 0.4s linear;
  -ms-transition: transform 0.4s linear;
  -o-transition: transform 0.4s linear;
}
.photos #instafeed .item:hover img {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
/* ======= Blog Home ======= */
.blog-list {
  padding: 80px 0;
}
.blog-list .container {
  max-width: 860px;
}
.blog-list .item {
  margin-bottom: 60px;
}
.blog-list .item .post-title {
  margin-bottom: 15px;
}
.blog-list .item .post-title a {
  color: #191919;
}
.blog-list .item .post-title a:hover {
  color: #000000;
}
.blog-list .item .meta .meta-list {
  font-size: 14px;
}
.blog-list .item .meta .meta-list li {
  color: #999999;
}
.blog-list .item .meta .meta-list li a {
  color: #999999;
}
.blog-list .item .meta .meta-list li a:hover {
  color: #d30002;
}
.blog-list .item .meta .meta-list .post-time {
  font-size: 16px;
  display: inline-block;
  text-align: center;
  padding: 5px 15px;
  background: #818fa5;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
}
.blog-list .item .meta .meta-list .post-time span {
  display: block;
}
.blog-list .item .meta .meta-list .post-time span.date {
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  font-size: 26px;
}
.blog-list .item .meta .meta-list .post-time span.month {
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 0;
}
.blog-list .item .meta .meta-list .post-author {
  margin-bottom: 5px;
}
.blog-list .item .figure {
  margin-bottom: 15px;
  overflow: hidden;
  background: #000000;
  text-align: center;
}
.blog-list .item .figure img {
  -webkit-transition: transform 0.4s linear;
  -moz-transition: transform 0.4s linear;
  -ms-transition: transform 0.4s linear;
  -o-transition: transform 0.4s linear;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  border: 1px solid #eeeeee;
  margin: 0 auto;
}
.blog-list .item .figure:hover img {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.pagination {
  margin-top: 90px;
}
.pagination li a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  margin-right: 5px;
  color: #191919;
}
.pagination li a:hover {
  color: #000000;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #c6c6c6;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #909cb0;
  border: none;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eff8fb;
  border: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none;
}
/* ======= Single Blog Post ======= */
.blog-post-wrapper {
  padding-top: 60px;
}
.blog-post-wrapper .title {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 28px;
  color: #000000;
}
.blog-post-wrapper .meta {
  font-size: 13px;
  color: #999999;
  margin-bottom: 15px;
}
.blog-post-wrapper .meta li {
  margin-right: 0;
}
.blog-post-wrapper .meta .post-author a {
  color: #999999;
}
.blog-post-wrapper .meta .post-author a:hover {
  color: #d30002;
}
.blog-post-wrapper .meta .post-comments-link a {
  color: #999999;
}
.blog-post-wrapper .meta .post-comments-link a:hover {
  color: #d30002;
}
.blog-post-wrapper .meta .post-comments-link .fa {
  margin-right: 5px;
}
.blog-post-wrapper .share-container {
  margin-bottom: 30px;
  overflow: hidden;
}
.blog-post-wrapper .share-container li {
  margin-bottom: 15px;
}
.blog-post-wrapper .comment-area {
  background: #f5f5f5;
  padding: 30px;
}
.blog-post-wrapper .comment-area .title {
  font-size: 22px;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}
.blog-post-wrapper .comment-area .comment-container {
  margin-bottom: 60px;
}
.blog-post-wrapper .comment-area .comment-container .comment-item {
  margin-bottom: 30px;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-item-box {
  position: relative;
  background: #fff;
  padding: 30px;
  padding-left: 115px;
  margin-bottom: 15px;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-author {
  position: absolute;
  left: 30px;
  top: 30px;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-author img {
  width: 60px;
  height: 60px;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-body .name {
  color: #191919;
  font-style: normal;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-body .name a {
  color: #191919;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-body .name a:hover {
  color: #d30002;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-body .time {
  color: #999999;
  font-size: 13px;
  margin-bottom: 15px;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-body .comment-reply-link {
  padding: 5px 10px;
  font-size: 13px;
  background: #adb7c5;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .comment-body .comment-reply-link:hover {
  background: #191919;
}
.blog-post-wrapper .comment-area .comment-container .comment-item .children {
  padding-left: 30px;
}
.blog-post-wrapper .comment-area .comment-form .error {
  color: #e65348;
  font-family: arial, sans-serif;
  display: block;
  font-size: 14px;
  text-align: left;
  padding-top: 5px;
  font-weight: 300;
}
.blog-sidebar .widget {
  margin-bottom: 60px;
}
.blog-sidebar .widget a {
  color: #191919;
}
.blog-sidebar .widget a:hover {
  color: #d30002;
}
.blog-sidebar .widget .title {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: normal;
  color: #000000;
}
.blog-sidebar .widget ul li {
  margin-bottom: 10px;
  font-size: 15px;
}
.blog-sidebar .widget ul li .count {
  color: #999999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.blog-sidebar .widget.recent-posts li {
  position: relative;
  padding-left: 60px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
  min-height: 80px;
}
.blog-sidebar .widget.recent-posts .thumb {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 45px;
  height: 45px;
}
.blog-sidebar .widget.recent-posts .post-info .date {
  color: #999999;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.blog-sidebar .widget.instagram .instafeed .item {
  display: inline-block;
  margin-right: 5px;
}
.blog-sidebar .widget.instagram .instafeed img {
  max-width: 75px;
  padding: 2px;
  border: 1px solid #eeeeee;
}
.blog-sidebar .widget.instagram .instafeed img:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  background: #191919;
}
.blog-sidebar .search-blog-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  max-width: 168px;
}
.blog-sidebar .search-blog-form .form-control {
  height: 38px;
}
.blog-sidebar .search-blog-form .btn {
  padding: 8px 12px;
}
.blog-sidebar .search-blog-form .btn .fa {
  margin-right: 0;
}
.post {
  margin-bottom: 60px;
}
.post .content .post-title {
  font-size: 22px;
}
.post .content .post-title a {
  color: #666666;
}
.post .content .post-title a:hover {
  color: #268aac;
}
.post .content .post-entry .read-more .fa {
  margin-left: 5px;
  position: relative;
  top: 1px;
}
.blog-entry .title {
  margin-bottom: 15px;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 700;
}
.blog-entry .meta {
  margin-bottom: 15px;
}
.blog-entry .post-thumb {
  margin-bottom: 30px;
}
.blog-entry .custom-list-style {
  margin-bottom: 30px;
}
.blog-entry .custom-list-style li {
  list-style: none;
  margin-bottom: 5px;
}
.blog-entry .custom-list-style li .fa {
  margin-right: 5px;
  color: #d30002;
}
.blog-entry p {
  margin-bottom: 30px;
  line-height: 1.5;
}
.blog-entry .post-nav {
  margin-bottom: 60px;
}
.blog-entry .post-nav .nav-next {
  float: right;
}
.blog-entry .post-nav .nav-next .fa {
  margin-left: 5px;
}
.blog-entry .post-nav .nav-previous .fa {
  margin-right: 5px;
}
.custom-quote {
  border-color: #9bd5e9;
  font-weight: normal;
  font-style: italic;
}
.custom-quote p {
  line-height: 1.6;
}
.custom-quote .fa {
  color: #d30002;
  margin-right: 10px;
}
.custom-quote .source {
  font-style: normal;
}
.custom-quote .source .name {
  color: #666666;
}
.custom-quote .source .title {
  font-size: 13px;
  color: #999999;
}
/* ======= Contact Page  ======= */
.contact-section {
  padding: 80px 0;
  color: #999999;
  background: #f5f5f5;
}
.contact-section .title {
  font-size: 36px;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact-section .intro {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
  color: #191919;
  font-weight: 300;
  font-size: 20px;
}
.contact-section .contact-info {
  margin-bottom: 60px;
}
.contact-section .contact-info li {
  margin-right: 60px;
  margin-bottom: 30px;
  font-family: 'Open Sans', arial, sans-serif;
}
.contact-section .contact-info li a {
  color: #191919;
}
.contact-section .contact-info li:last-child {
  margin-right: 0;
}
.contact-section .contact-info .fs1 {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  width: 48px;
  height: 48px;
  border: 1px solid #191919;
  color: #191919;
  font-size: 22px;
  padding-top: 5px;
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
}
.contact-section .contact-info .tel .fs1 {
  padding-top: 8px;
}
.contact-section .contact-form .error {
  color: #e65348;
  font-family: arial, sans-serif;
  display: block;
  font-size: 14px;
  text-align: left;
  padding-top: 5px;
  font-weight: 300;
}
/* ======= Map section ======= */
.map-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}
.map-section .gmap-wrapper {
  position: relative;
}
.map-section .gmap-wrapper .map-overlay {
  position: absolute;
  background: #fff;
  border: 1px solid #eeeeee;
  padding: 30px;
  top: 30px;
  right: 30px;
}
.map-section .gmap-wrapper .map-overlay .title {
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  color: #191919;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}
.map-section .gmap-wrapper .map-overlay .address {
  margin-bottom: 0;
  color: #191919;
}
.map-section .gmap {
  height: 400px;
  text-align: left;
  font-weight: normal;
}
.map-section .gmap,
.map-section .gmap *,
.map-section .gmap *:before,
.map-section .gmap *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.map-section .gmap .title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 5px;
}
.map-section .gmap .gm-style-iw {
  width: 150px;
}
/* ======= 404 section ======= */
.section-404 {
  padding-top: 130px;
  padding-bottom: 120px;
}
.section-404 .title-404 {
  font-size: 120px;
  font-weight: 800;
  font-family: 'Open Sans', arial, sans-serif;
  color: #191919;
}
.section-404 .intro {
  font-size: 24px;
  margin-bottom: 30px;
}
/* ======= Modal ======= */
.modal .modal-dialog {
  width: 760px;
}
.modal .modal-title {
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #000000;
  padding-top: 26px;
}
.modal .modal-body {
  padding: 30px 60px;
}
.modal .modal-header {
  border: none;
}
.modal.modal-contact .modal-title {
  margin-bottom: 30px;
}
.modal.modal-contact .intro {
  padding: 0 15px;
  margin-bottom: 15px;
  color: #191919;
  font-weight: 300;
  font-size: 18px;
}
.modal.modal-contact .contact-info {
  margin-bottom: 30px;
}
.modal.modal-contact .contact-info li {
  margin-right: 60px;
  margin-bottom: 30px;
  font-family: 'Open Sans', arial, sans-serif;
}
.modal.modal-contact .contact-info li a {
  color: #191919;
}
.modal.modal-contact .contact-info li:last-child {
  margin-right: 0;
}
.modal.modal-contact .contact-info .fs1 {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  width: 48px;
  height: 48px;
  border: 1px solid #191919;
  color: #191919;
  font-size: 22px;
  padding-top: 5px;
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
}
.modal.modal-contact .contact-info .tel .fs1 {
  padding-top: 8px;
}
.modal.modal-contact .contact-form .error {
  color: #e65348;
  font-family: arial, sans-serif;
  display: block;
  font-size: 14px;
  text-align: left;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: 300;
}
/* ======= Bootstrap Image Gallery ======== */
.blueimp-gallery {
  background: rgba(16, 19, 23, 0.9);
}
/* ======= Footer ======= */
.footer .footer-content {
  background: #191919;
  color: rgba(255, 255, 255, 0.5);
  padding: 30px 0;
  padding-bottom: 30px;
  font-size: 14px;
}
.footer .footer-content a {
  color: rgba(255, 255, 255, 0.6);
}
.footer .footer-content a:hover {
  color: #d30002;
}
.footer .footer-content .sub-title {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 30px;
}
.footer .footer-content .links-col li {
  margin-bottom: 10px;
}
.footer .footer-content .blog-col .item {
  margin-bottom: 30px;
  position: relative;
  padding-left: 75px;
  padding-right: 30px;
}
.footer .footer-content .blog-col .item .post-title {
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
}
.footer .footer-content .blog-col .item .figure {
  position: absolute;
  left: 0;
  top: 0;
}
.footer .footer-content .blog-col .item .intro {
  margin-bottom: 5px;
}
.footer .footer-content .blog-col .item .meta {
  color: rgba(255, 255, 255, 0.2);
}
.footer .footer-content .contact-col .fs1 {
  font-size: 20px;
  margin-right: 10px;
  line-height: 1.5;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.8);
}
.footer .footer-content .contact-col .adr {
  padding-left: 45px;
  position: relative;
}
.footer .footer-content .contact-col .adr .fs1 {
  position: absolute;
  left: 15px;
  top: 0;
}
.footer .bottom-bar {
  background: #000000;
  color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  text-align: center;
}
.footer .bottom-bar .copyright {
  display: block;
  font-size: 13px;
}
.footer .bottom-bar .copyright a {
  color: rgba(255, 255, 255, 0.5);
}
.footer .bottom-bar .copyright a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.footer .social-icons {
  margin: 0 auto;
}
.footer .social-icons li {
  margin-bottom: 15px;
}
.social-icons {
  list-style: none;
  padding: 10px 0;
  margin: 0 auto;
  margin-bottom: 25px;
  display: inline-block;
}
.social-icons li {
  float: left;
}
.social-icons li.last {
  margin-right: 0;
}
.social-icons a {
  display: inline-block;
  background: #455061;
  width: 36px;
  height: 36px;
  text-align: center;
  padding-top: 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 16px;
  margin-right: 10px;
  float: left;
}
.social-icons a:hover {
  background: #5a697f;
}
.social-icons a:hover .fa {
  color: #fff;
}
.social-icons a .fa {
  color: rgba(255, 255, 255, 0.6);
}
.social-icons a .fa:before {
  font-size: 18px;
  text-align: center;
  padding: 0;
}
/* ======= Configure Style (REMOVE ON YOUR PRODUCTION SITE) ======= */
.config-wrapper {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 100;
}
.config-wrapper-inner {
  position: relative;
}
.config-trigger {
  display: block;
  position: absolute;
  left: -36px;
  width: 36px;
  height: 36px;
  background: #f5f5f5;
  color: #fff;
  text-align: center;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.config-trigger:hover {
  text-decoration: none;
}
.config-trigger:hover .fs1 {
  color: #000000;
}
.config-trigger .fs1 {
  font-size: 22px;
  padding-top: 5px;
  display: block;
  color: #191919;
}
.config-panel {
  width: 180px;
  display: none;
  background: #f5f5f5;
  padding: 15px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.config-panel h5 {
  margin-bottom: 15px;
  color: #191919;
}
.config-panel #color-options {
  margin-bottom: 10px;
}
.config-panel #color-options li {
  padding-right: 0;
}
.config-panel #color-options li a {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
}
.config-panel #color-options li a:hover {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  border: 2px solid rgba(0, 0, 0, 0.4);
}
.config-panel #color-options li.active a {
  border: 2px solid rgba(0, 0, 0, 0.4);
}
.config-panel #color-options li.theme-1 a {
  background: #d30002;
}
.config-panel #color-options li.theme-2 a {
  background-color: #71e08b;
}
.config-panel #color-options li.theme-3 a {
  background-color: #2ec0c3;
}
.config-panel #color-options li.theme-4 a {
  background-color: #ba4a7c;
}
.config-panel #color-options li.theme-5 a {
  background-color: #e0d971;
}
.config-panel #color-options li.theme-6 a {
  background-color: #e07971;
}
.config-panel #color-options li.theme-7 a {
  background-color: #47c9af;
}
.config-panel #color-options li.theme-8 a {
  background-color: #9ad2a8;
}
.config-panel #color-options li.theme-9 a {
  background-color: #e0b770;
}
.config-panel #color-options li.theme-10 a {
  background-color: #28a5a8;
}
.config-panel .close {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #fff;
}
.config-panel .close .fa {
  color: #191919;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .config-wrapper {
    display: none;
  }
  .header {
    padding: 0px inherit;
  }
  .header h1.logo {
    font-size: 20px;
    line-height: 2.4;
  }
  .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    top: 48px;
    position: absolute;
    background: #455061;
    z-index: 45;
  }
  .navbar-collapse .nav {
    margin: 0;
  }
  body.no-header-wrapper {
    padding-top: 50px;
  }
  .header-wrapper-home {
    min-height: 560px;
  }
  .header .main-nav .nav .nav-item {
    margin-right: 0;
  }
  .header .main-nav .nav .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 100%;
    padding: 0;
  }
  .header .main-nav .nav .dropdown-menu:before {
    display: none;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: inherit;
  }
  .nav-tabs > li > a {
    padding: 10px 5px;
  }
  .main-nav .navbar-collapse .navbar-nav {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .home-promo {
    padding-top: 80px;
  }
  .promo {
    padding-top: 100px;
  }
  .header-wrapper-home {
    min-height: 460px;
  }
  .promo .title .middle {
    font-size: 38px;
  }
  .section .title {
    font-size: 26px;
  }
  .testimonials .item .meta .name {
    max-width: none;
  }
  .cta-section .contact-info {
    font-size: 20px;
  }
  .home-promo .title span {
    font-size: 22px;
  }
  .home-promo .title .middle {
    font-size: 36px;
  }
  .home-promo .title .bottom {
    font-size: 22px;
  }
  .blog-list .item .post-title {
    font-size: 22px;
  }
  .blog-list .item .meta .meta-list {
    text-align: left;
  }
  .blog-list .item .meta .meta-list li {
    display: inline-block;
    margin-right: 5px;
  }
  .blog-list .item .meta .meta-list .post-time span.date {
    font-size: 14px;
  }
  .blog-list .item .meta .meta-list .post-time {
    font-size: 11px;
    padding: 5px 10px;
    margin-right: 5px;
  }
  .blog-post-wrapper .comment-area .comment-container .comment-item .comment-author {
    top: 15px;
    left: 15px;
  }
  .blog-post-wrapper .comment-area .comment-container .comment-item .comment-author img {
    width: 35px;
    height: 35px;
  }
  .blog-post-wrapper .comment-area .comment-container .comment-item .comment-item-box {
    padding: 15px;
    padding-left: 65px;
  }
  .blog-post-wrapper .comment-area .comment-container .comment-item .children {
    padding-left: 15px;
  }
  .contact-section .contact-info li {
    margin-right: 0;
  }
  .modal .modal-dialog {
    width: auto;
  }
  .modal .modal-dialog .intro {
    font-size: 16px;
  }
  .modal.modal-contact .modal-title {
    font-size: 22px;
  }
  .modal .modal-body {
    padding: 15px 30px;
  }
  .modal.modal-contact .contact-info li {
    margin-right: 0;
  }
  .bg-slider-wrapper {
    height: 460px;
  }
  .bg-slider-wrapper .flexslider .slide {
    height: 460px;
  }
  .section-404 .title-404 {
    font-size: 80px;
  }
  .section-404 .intro {
    font-size: 20px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .config-wrapper {
    display: none;
  }
  .header .main-nav .nav .nav-item {
    margin-right: 10px;
  }
  .modal .modal-dialog {
    width: 660px;
  }
  .latest-work .item .figure-container a {
    min-height: 440px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .config-wrapper {
    display: block;
  }
  .header-wrapper-home {
    height: 650px;
  }
  .main-nav {
    float: right !important;
  }
  .navbar-form .form-control {
    width: 280px;
  }
  .header h1.logo {
    float: left;
    margin: inherit;
  }
  .header .main-nav .nav .nav-item {
    margin-right: 15px;
  }
  .main-nav.navbar-right {
    float: right !important;
  }
  .navbar-fixed-top .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
  .testimonials .item .meta .name {
    max-width: 300px;
  }
  .testimonials .item .meta .client-logo {
    max-width: none;
  }
  .modal .modal-dialog {
    width: 760px;
  }
  .latest-work .item .figure-container a {
    min-height: 440px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .latest-work .item .figure-container a {
    min-height: 520px;
  }
}

//checkbox stuff
input, textarea, select, .uneditable-input{
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  
}

.input_checkbox input{
  width: auto !important
}

input{
  height: auto !important;
}

