<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-3 col-sm-4 links-col">
                    <div class="footer-col-inner">
                        <h3 class="sub-title">Quick Links</h3>
                        <ul class="list-unstyled">
                            <li><a href="about.html">About us</a></li>
                            <li><a href="work.html">Our work</a></li>
                            <li><a href="contact.html">Contact</a></li>                                
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col col-md-6 col-sm-8 blog-col">
                    <div class="footer-col-inner">
                        <h3 class="sub-title">Latest From Our Blog</h3>
                        <div class="item">
                            <figure class="figure">
                                <%= image_tag("blog/blog-tiny-thumb-1.jpg", class:"img-responsive")%>
                            </figure>
                            <div class="content">
                                <h4 class="post-title"><a href="blog-post.html">DevStudio helps XYZ launch</a></h4>
                                <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales dolor ut ligula faucibus...</p>
                                <ul class="meta list-inline">
                                    <li>18 Feb 2015</li>
                                    <li>James Lee</li>
                                </ul>
                            </div><!--//content-->
                        </div>  
                        <div class="item">
                            <figure class="figure">
                                <%= image_tag("blog/blog-tiny-thumb-2.jpg", class:"img-responsive")%>
                            </figure>
                            <div class="content">
                                <h4 class="post-title"><a href="blog-post.html">devAid - Free Bootstrap Theme</a></h4>
                                <p class="intro">Mauris libero leo, dapibus a congue ut, mollis sed nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus augue nec nulla ultricies...</p>
                                <ul class="meta list-inline">
                                    <li>21 Dec 2014</li>
                                    <li>Vincent Fowler</li>
                                </ul>
                            </div><!--//content-->
                        </div>                                                     
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col--> 
                <div class="footer-col col-md-3 col-sm-12 contact-col">
                    <div class="footer-col-inner">
                        <h3 class="sub-title">Get In Touch</h3>
                        <p class="intro"></p>
                        <div class="row">
                            <p class="adr clearfix col-md-12 col-sm-4">
                                <span class="fs1" aria-hidden="true" data-icon=""></span>        
                                <span class="adr-group">       
                                    <span class="street-address">56 College Green Road</span><br>
                                    <span class="city">Bristol</span><br>
                                    <span class="postal-code">BS1 XR18</span><br>
                                    <span class="country-name">UK</span>
                                </span>
                            </p>
                            <p class="tel col-md-12 col-sm-4"><span class="fs1" aria-hidden="true" data-icon="w"></span><a href="tel:+08001234567">0800 123 4567</a></p>
                            <p class="email col-md-12 col-sm-4"><span class="fs1" aria-hidden="true" data-icon=""></span><a href="#">hello@yourdevstudio.com</a></p> 
                        </div> 
                    </div><!--//footer-col-inner-->            
                </div><!--//foooter-col-->   
            </div>   
        </div>        
    </div><!--//footer-content-->
    <div class="bottom-bar">
        <div class="container center">                                   
            <ul class="social-icons list-inline">
                <li><a href="https://twitter.com/3rdwave_themes"><i class="fa fa-twitter"></i></a></li>                        
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.facebook.com/3rdwavethemes"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li class="last"><a href="#"><i class="fa fa-google-plus"></i></a></li>                     
            </ul> 
            <small class="copyright text-center">Copyright @ 2015 <a href="http://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>                 
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer>
