<div class="header-wrapper header-wrapper-home">
        <!-- ******HEADER****** --> 
        <header id="header" class="header navbar-fixed-top header-shrink">  
            <div class="container">       
                <h1 class="logo">
                    <a href="index.html"><span class="highlight">Dev</span>Studio</a>
                </h1><!--//logo-->
                <nav class="main-nav navbar-right" role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button><!--//nav-toggle-->
                    </div><!--//navbar-header-->
                    <div id="navbar-collapse" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active nav-item"><%= link_to "Home", root_path %></li>
                            <li class="nav-item"><%= link_to "Projects", projects_path %></li>
                            <li class="nav-item"><%= link_to "About", about_path %></li>                                              
                            <li class="nav-item"><%= link_to "Blog", posts_path %></li>
                            <li class="nav-item last"><%= link_to "Contact", new_contact_path %></li>
                        </ul><!--//nav-->
                    </div><!--//navabr-collapse-->
                </nav><!--//main-nav-->
            </div><!--//container-->
        </header><!--//header-->   
        <div class="bg-slider-wrapper">
            <div id="bg-slider" class="flexslider bg-slider">
                <ul class="slides">
                    <li class="slide slide-1 flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;"></li>
                    <li class="slide slide-2" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"></li>
                    <li class="slide slide-3" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"></li>
                </ul>
            </div>
        </div><!--//bg-slider-wrapper--> 
        <section id="home-promo" class="home-promo section">
            <div class="container text-center">                
                <h2 class="title">
                    <span class="upper">We build</span>
                    <span class="middle">Web and Mobile Apps</span>
                    <span class="bottom">for startups and agencies</span>
                </h2>
                <button class="btn btn-cta btn-cta-primary" type="button" data-toggle="modal" data-target="#modal-contact" data-backdrop="static">Talk to us</button>
            </div><!--//container-->
        </section><!--//promo-->
</div>