<div class="header-wrapper header-wrapper-work">
        <!-- ******HEADER****** --> 
        <header id="header" class="header navbar-fixed-top">  
            <div class="container">       
                <h1 class="logo">
                    <a href="index.html"><span class="highlight">Dev</span>Studio</a>
                </h1><!--//logo-->
                <nav class="main-nav navbar-right" role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button><!--//nav-toggle-->
                    </div><!--//navbar-header-->
                    <div id="navbar-collapse" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item"><%= link_to "Home", root_path %></li>
                            <li class="active nav-item"><%= link_to "Projects", projects_path %></li>
                            <li class="nav-item"><%= link_to "About", about_path %></li>                                              
                            <li class="nav-item"><%= link_to "Blog", posts_path %></li>
                            <li class="nav-item last"><%= link_to "Contact", new_contact_path %></li>
                        </ul><!--//nav-->
                    </div><!--//navabr-collapse-->
                </nav><!--//main-nav-->
            </div><!--//container-->
        </header><!--//header-->   
        <section class="promo section">
            <div class="container text-center">                
                <h2 class="title">Our Work</h2>
                <p class="intro">Our approach to lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in leo turpis. Ut ex neque, cursus vulputate facilisis sed, tempor quis ligula.</p>
            </div><!--//container-->
        </section><!--//promo-->
    </div>