<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link href='//fonts.googleapis.com/css?family=Merriweather+Sans:700,300italic,400italic,700italic,300,400' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% if @title == "home" %>
    <%= render "layouts/homeheader" %>
  <% elsif @title == "blog" %>
    <%= render "layouts/blog_header" %>
  <% elsif @title == "About" %>
    <%= render "layouts/about_header" %>
  <% elsif @title == "Contact" %>
    <%= render "layouts/contact_header" %>
  <% elsif @title == "Projects" %>
    <%= render "layouts/work_header" %>
  <% else %>
    <%= render "layouts/header" %>
  <% end %>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

  <%= render "layouts/home_footer" %>
   <!-- Main Javascript -->   
   
    <%= javascript_include_tag 'jquery-1.11.3.min' %>
    <%= javascript_include_tag 'back-to-top' %>        
    <%= javascript_include_tag 'jquery.placeholder' %>                                                                  
    <%= javascript_include_tag 'jquery.matchHeight-min' %>
    <%= javascript_include_tag 'jquery.fitvids' %>
    <%= javascript_include_tag 'main' %>
    <%= javascript_include_tag 'application' %>
    
    <% if @title == "home" %>
    <!-- Flexslider -->    
    <%= javascript_include_tag 'jquery-1.11.3.min' %>
    <%= javascript_include_tag 'jquery.flexslider-min' %>     
    <%= javascript_include_tag 'flexslider-custom' %>
    <% end %>
    
    <% if @title == "Contact" %>
    <!-- Form Validation -->
    <%= javascript_include_tag 'jquery.validate.min' %> 
    <%= javascript_include_tag 'form-validation-custom' %>
    <% end %>
    
    <!-- Form iOS fix -->
    <%= javascript_include_tag 'isMobile.min' %>
    <%= javascript_include_tag 'form-mobile-fix' %>
    
    <% if @title == "home" %>
    <!-- Owl Carousel -->
    <%= javascript_include_tag 'owl.carousel' %>
    <%= javascript_include_tag 'owl-custom' %>
    <% end %>

    <%= javascript_include_tag 'imagesloaded.pkgd.min' %>
    <%= javascript_include_tag 'isotope.pkgd.min' %>
    <%= javascript_include_tag 'isotope-custom' %>
</body>
</html>
